img {
  max-width: 100%;
}

.outContainer {
  max-width: 1320px;
  margin: -100px auto 0;
  padding: 20px 0;
  background-color: white;
}

.title {
  text-align: left;
  font-size: 32px;
  margin-bottom: 38px;
  color: #1ab8d3;
  font-weight: bold;
  text-transform: uppercase;
}

.item {
  margin-bottom: 60px;

  &:hover {
    text-decoration: none;

    img {
      opacity: .7;
    }

    h2 {
      color: #42546a;
    }
  }
  
  h2 {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #17b7d2;
    line-height: 25px;
    margin-bottom: 12px;
    -moz-transition: color 1s;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    -ms-transition: color 1s;
    transition: color 1s;
    max-height: 75px;
    overflow: hidden;
  }

  .date {
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    color: #17b7d2;
  }

  .ingress {
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    color: #262626;
  }
}

.itemImage {
  margin-bottom: 13px;
}

.pageNumber {
  margin-right: 5px;

  a {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 0 7px;
    text-align: center;
    line-height: 28px;
    color: #4b4b4d;
    font-size: 12px;
  }

  &.pageNext a {
    width: auto;
    background-color: #1ab8d3;
    color: #fff;
  }

  &.pagePrev a {
    width: auto;
    background-color: #1ab8d3;
    color: #fff;
  }

  &.active {
    a {
      background-color: #1ab8d3;
      color: #fff;
    }
  }

  &.disabled {
    display: none;
  }
}
