.NewsDetail {
    .Title {
        text-align: left;
        font-size: 32px;
        margin-bottom: 13px;
        line-height: 35px;
        color: #1ab8d3;
        font-weight: 700;
    }

    .Date {
        color: #1ab8d3;
        font-size: 13px;
        margin-bottom: 12px;
    }
}

.wp-editor .alignright {
    float: right;
    margin-left: 50px;
    margin-bottom: 30px;
}

.RelatedArticles ul {
    list-style: none;

    li {
        margin-bottom: 10px;

        &.current-menu-active {
            a {
                color: #1ab8d3;
            }
        }
    }

    a {
        color: #42546a;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;

        &:hover {
            color: #1ab8d3;
        }
    }
}
