@font-face {
  	font-family: 'icomoon';
  	src:  url('../../assets/fonts/icomoon.eot?gupt7c');
  	src:  url('../../assets/fonts/icomoon.eot?gupt7c#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon.ttf?gupt7c') format('truetype'),
    url('../../assets/fonts/icomoon.woff?gupt7c') format('woff'),
    url('../../assets/fonts/icomoon.svg?gupt7c#icomoon') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

a {
    transition: color .3s;

    &:hover {
        color: #1ab8d3;
        text-decoration: none;
    }
}
