#activities-result {
    .Image {
        height: 225px;
        background-size: cover;
        margin: 0 0 5px;
    }

    h2 {
        font-size: 15px;
        color: #46546c;
        letter-spacing: -0.5px;
        font-weight: bold;
        margin: 0 0 6px;
        min-height: 0;
        line-height: normal;
    }
}

.sidebar-filter {
    ul {
        list-style: none;
        padding-left: 0;
    }
}

.option-filter .title {
    font-size: 15px;
    letter-spacing: -0.5px;
    color: #46546c;
    font-weight: bold;
    margin: 0 0 10px;
    position: relative;
    cursor: pointer;

    &:before {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        content: '\e900';
        font-family: 'icomoon';
        font-size: 8px;
        color: #1eb7d2;
    }
}

.option-content {
    padding: 0 0 10px;
}

.checkbox-group {
    input {
        display: none;
    }

    label {
        font-size: 15px;
        position: relative;
        padding-left: 27px;
        color: #696969;
        font-weight: normal;
        cursor: pointer;

        &:before {
            content: '';
            width: 18px;
            height: 18px;
            border-radius: 2px;
            border: solid 1px #1eb7d2;
            position: absolute;
            left: 0;
            top: 3px;
        }
    }
}

.checkbox-group input:checked + label:after, .checkbox-group .active label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    background: url(../../assets/images/checkmark-checked.svg) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 18px auto;
}
